doctype html
if settings.css && settings.js
    html
        head
            title= title
            include favicons
            link(rel='stylesheet', href='/static/' + settings.css.md5 + '.css')
            script(src='/static/' + settings.js.md5 + '.js')
        body.nojs
            include navbar
            #content
                block content
else
    html
        head
            unless Object.keys(settings.errors).length
                meta(http-equiv='refresh', content='5')
        body(style='font: 14px sans-serif')
            if Object.keys(settings.errors).length
                p There may have been CSS/JS compilation problems, see:
                dl
                    each e, type in settings.errors
                        dt: h3
                            | #{type} 
                            if e.type
                                i= e.type
                            if e.filename
                                |  error on 
                                code= e.filename + (e.line ? ':' + e.line : '')
                            else
                                | error
                        dd: pre
                            if e.message
                                b= e.message
                            if e.extract
                                br
                                div(style='background:#F8F8F8;display:inline-block')
                                    each line, index in e.extract
                                        if (index > 0 && index < e.extract.length - 1)
                                            span(style='background: #FEE')= line
                                        else
                                            span= line
                                        br
                p Note that these may be transitory (LESS sometimes coughs random ENOENTs).
            else
                p CSS/JS is being compiled, refreshing in 5 seconds...