extends layout

block navbarTitle
    case mode
        when 'categories'
            h1
                | /
                a(href='/manage/'+project)= project
        when 'actions'
            h1
                | /
                a(href='/manage/'+project)= project
                | /
                a(href='/manage/'+project+'/'+category)= category
        when 'event'
            h1
                | /
                a(href='/manage/'+project)= project
                | /
                a(href='/manage/'+project+'/'+category)= category
                | /
                a(href='/manage/'+project+'/'+category+'/'+action)= action
        default
            h1= title

block content
    case mode
        when 'projects'
            if projects
                .centered-buttons
                    each project in projects
                        a.button(href='/manage/'+project)= project
            else
                p(style='text-align:center') There was some error getting the projects!
        when 'categories'
            if categories
                .centered-buttons
                    each category in categories
                        a.button(href='/manage/'+project+'/'+category)= category
            else
                p(style='text-align:center') There was some error getting the categories!
        when 'actions'
            if actions
                .centered-buttons
                    each action in actions
                        a.button(href='/manage/'+project+'/'+category+'/'+action)= action
            else
                p(style='text-align:center') There was some error getting the actions!
        when 'event'
            if event
                .fluid320
                    .main
                        h3.simple-count
                            span.num= event.sCount
                            |  simple events
                        h3.data-count
                            span.num= event.dCount
                            |  data events
                    aside.sidebar
                        h2.total-count
                            span.num= event.sCount + event.dCount
                            |  total events
            else
                p(style='text-align:center') There was some error getting the event!
        default
            p(style='text-align:center') The given path could not be found.